.carousel-img {
    margin: 'auto'
}


.flex-container{
    width: 100%;
    min-height: 300px;
    margin: 0 auto;
    display: -webkit-flex; /* Safari */     
    display: flex; /* Standard syntax */
}

.footer-left {
    display: flex;
    flex-direction: column;
    margin: 100px;
}

.footer-right {
    display: flex;
    flex-direction: column;
    margin: 120px;
}

.footer-left-icons {
    display: flex;
    flex-direction: row;
}

.flex-container .column{
    padding: 10px;
    background: #000;
    color: #fff;
    -webkit-flex: 1; /* Safari */
    -ms-flex: 1; /* IE 10 */
    flex: 1; /* Standard syntax */
}

input {
    background: #000;
    /* width: 80%; */
    font-size: 1.2em;
    font-family: Poppins;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 0.1em;
    border-bottom-color: #676c72;
    padding: 1em 0 0.5em 0em;
    margin: 0.5em;
    color: #fff;
    margin-bottom: 0;
}

.textArea {
    background: #000;
    width: 70%;
    font-family: Poppins;
    font-size: 1.2em;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 0.1em;
    border-bottom-color: #676c72;
    padding: 1em 0 0.5em 0em;
    margin: 0.5em;
    color: #fff;
    margin-bottom: 0;
    vertical-align: top;
    height: 10em;
}

.FormButton {
    margin-top: 20px;
    margin-right: 100px;
    float: right;
    border-style: solid;
    border-width: 2px;
    padding: 15px 25px 15px 25px;
    color: #000;
    font-size: 1em;
    background: #fff;
    border-radius: 0.5em;
    cursor: pointer;
}